vendor/
*.o
guest.elf
guest-bench.elf
host
host-purvs
host-pgo
pgo-data/
bench-native
.scale
native.out
native.err
purv.out
purv.err
purvs.out
purvs.err
purva.out
purva.err
host-purva
guest-bench-purva.elf
guest-bench-purva.img
